
<div class= "center jumbotron">

	 <h1>Buddies App</h1>

	 <p>
	For now, this is just an app for Ryan and Brad.  We've decided to run a half marathon, our 2nd together, and this is my attempt to do something interesting just for us.  The point of the app is to have a place to write just for each other.  Brad lives in Baton Rouge, me in San Francisco.  Thus, adding accountability isn't that easy and there's going to be times when we don't want to eat healthy or go for the morning run.  But maybe through reading each other's writings, it'll be that little piece of motivation that gets us out of bed and eating more greens.  
	</p>

	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary"%>

</div>


